<% layout('layouts/boilerplate') %>

<head>
    <meta name="description" content="Explore pet regulations for travel between countries and airlines. Find all the necessary information for bringing your pets to their new destinations." />
    <meta name="keywords" content="pet regulations, pet travel, pet travel policies, airline pet policies, pet travel tips, travel with pets" />
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Pet Regulations for <%= regulations[0].originCountry.country %> to <%= regulations[0].destinationCountry.country %> - <%= regulations[0].petType.type %>" />
    <meta property="og:description" content="Find the regulations for traveling with pets to different countries. Get detailed information on pet policies, including vaccinations, certifications, and microchip requirements." />
    <meta property="og:image" content="URL_to_image.jpg" />
</head>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-secondary shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="text-center text-primary-emphasis mb-4">
                        <strong>Pet Regulations for <%= regulations[0].originCountry.country %> to <%= regulations[0].destinationCountry.country %> - <%= regulations[0].petType.type %></strong>
                    </h2>
                    <p class="text-center text-primary-emphasis">
                        Below is the necessary information needed to take your friend. Click each topic to see what is needed for travel. Save this information to your profile.
                    </p>
                    <p class="text-center text-primary-emphasis">
                        Make sure to check airline requirements as they can be different from the country’s requirements.
                    </p>
                </div>

                <div id="alert-container" class="mt-0"></div>
                <div id="response-message"></div>

                <!-- Save to Profile Form -->
                <form class="saveCountryForm d-flex justify-content-end ms-auto mt-0 mb-3 ">
                    <input type="hidden" name="regulationId" value="<%= regulations[0]._id %>">
                    <input type="hidden" name="originCountry" value="<%= regulations[0].originCountry._id %>">
                    <input type="hidden" name="destinationCountry" value="<%= regulations[0].destinationCountry._id %>">
                    <input type="hidden" name="petType" value="<%= regulations[0].petType._id %>">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fas fa-heart"></i> Save
                    </button>
                </form>

                <!-- 6 Regulation Cards -->
                <div class="row g-3">
                    <% regulations.forEach(regulation => { %>

                        <!-- Vaccination Requirements -->
                        <% if (regulation.petType.type !== "Other") { %>
                            <div class="col-6 col-md-4">
                                <div class="card regulation-card text-center shadow-sm" data-bs-toggle="collapse" data-bs-target="#vaccinationInfo">
                                    <div class="card-body">
                                        <i class="bi bi-shield-check display-3"></i>
                                        <h6 class="card-title mt-2">Vaccinations</h6>
                                    </div>
                                </div>
                                <div id="vaccinationInfo" class="collapse regulation-info">
                                    <div class="card-body border-top">
                                        <p class="card-text"><%- regulation.vaccinations %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                        <!-- Certification Requirements -->
                        <% if (regulation.petType.type !== "Other") { %>
                            <div class="col-6 col-md-4">
                                <div class="card regulation-card text-center shadow-sm" data-bs-toggle="collapse" data-bs-target="#certificationInfo">
                                    <div class="card-body">
                                        <i class="bi bi-file-earmark-text display-3"></i>
                                        <h6 class="card-title mt-2">Certifications</h6>
                                    </div>
                                </div>
                                <div id="certificationInfo" class="collapse regulation-info">
                                    <div class="card-body border-top">
                                        <p class="card-text"><%- regulation.certifications %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                        <!-- Microchip Requirements -->
                        <% if (regulation.petType.type !== "Other") { %>
                            <div class="col-6 col-md-4">
                                <div class="card regulation-card text-center shadow-sm" data-bs-toggle="collapse" data-bs-target="#microchipInfo">
                                    <div class="card-body">
                                        <i class="bi bi-cpu display-3"></i>
                                        <h6 class="card-title mt-2">Microchip</h6>
                                    </div>
                                </div>
                                <div id="microchipInfo" class="collapse regulation-info">
                                    <div class="card-body border-top">
                                        <p class="card-text"><%- regulation.microchip %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                        <!-- Assistance Pets -->
                        <div class="col-6 col-md-4">
                            <div class="card regulation-card text-center shadow-sm" data-bs-toggle="collapse" data-bs-target="#assistancePets">
                                <div class="card-body">
                                    <i class="bi bi-heart display-3"></i>
                                    <h6 class="card-title mt-2">Assistance Pets</h6>
                                </div>
                            </div>
                            <div id="assistancePets" class="collapse regulation-info">
                                <div class="card-body border-top">
                                    <p class="card-text"><%- regulation.assistancePet %></p>
                                </div>
                            </div>
                        </div>

                        <!-- More Information -->
                        <div class="col-6 col-md-4">
                            <div class="card regulation-card text-center shadow-sm" data-bs-toggle="collapse" data-bs-target="#moreInfo">
                                <div class="card-body">
                                    <i class="bi bi-info-circle display-3"></i>
                                    <h6 class="card-title mt-2">More Info</h6>
                                </div>
                            </div>
                            <div id="moreInfo" class="collapse regulation-info">
                                <div class="card-body border-top">
                                    <p class="card-text"><%- regulation.description %></p>
                                </div>
                            </div>
                        </div>

                        <!-- Links -->
                        <div class="col-6 col-md-4">
                            <div class="card regulation-card text-center shadow-sm" data-bs-toggle="collapse" data-bs-target="#linksInfo">
                                <div class="card-body">
                                    <i class="bi bi-link display-3"></i>
                                    <h6 class="card-title mt-2">Links</h6>
                                </div>
                            </div>
                            <div id="linksInfo" class="collapse regulation-info">
                                <div class="card-body border-top">
                                    <a href="<%= regulation.link %>" target="_blank"><%= regulation.link %></a>
                                </div>
                            </div>
                        </div>

                    <% }) %>
                </div>
                <div class="d-grid gap-2 mt-3 gap-3">
                <button type="button" class="btn btn-outline-dark" onclick="location.href='/regulations/searchFlights'">
                    <i class="bi bi-search"></i> Search Pet Flights
                </button>
            </div>
            </div>

            <!-- Find A Vet Section -->
            <div class="findAVet mt-5">
                <%- include('../partials/findVetC') %>
            </div>
        </div>
    </div>
</div>

<!-- CSS -->
<style>
    .regulation-card {
        width: 100%;
        height: 150px;
        cursor: pointer;
        transition: transform 0.2s;
    }
    .regulation-card:hover {
        transform: scale(1.05);
    }
    .regulation-info {
        display: none;
    }
    .collapse.show {
        display: block;
    }
</style>
